* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-primary: #F4F5FB;
    --background-secondary: #FFFFFF;
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --border-primary: #D1D5DB;
    --border-hover: #B9C2D0;

    --font-family: "Inter", sans-serif;

    --text-title: 700 1.5rem/2rem var(--font-family);
    --text-label: 600 1rem/1.25rem var(--font-family);
    --text-paragraph: 500 1rem/1.25rem var(--font-family);
    --text-link: 500 .875rem/1rem var(--font-family);


}

@media (max-width: 40rem) {
    body {
        padding-inline: 2rem;
    }
    main {
        margin-top: 2.125rem;
        & > img {
            display: none;
        }
        form {
            display: grid;
            button {
                height: 2.75rem;
            }
        }
    }
}

body {
    background-color: var(--background-primary);
    font: var(--text-paragraph);
    color: var(--content-primary);

    display: flex;
}

main {
    margin-inline: auto;
    display: grid;
    flex-grow: 1;
    max-width: 40rem;
}

